@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  font-weight: bold;
}
.first{
  width: 100%;
  height: 4vh;
  background-image: linear-gradient(to left,#fff 5%,#c3f5ff 95%);
  margin-bottom: 5%;
}
.name {
  width: 40%;
  height: 3vh;
  background-image: linear-gradient(#8d98e3 40%,#854fee 60%);
  color: white;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  padding-left: 10%;
  animation: kk 2s linear infinite;
  animation-direction: alternate;
}
@keyframes kk{
  from{ padding-left: 15%;}
  to{ padding-right: 25%;}
}


nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10%;
}
nav a{
  text-decoration: none;
  display: inline-block;
  color: black;
  font-weight: 900px;
  position: relative;
  text-transform: uppercase;
}
nav li{
  display: inline-block;
  list-style: none;
}
nav a:before{ 
  content: "";
  width: 0%;
  height: 18px;
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 1px solid #4458dc;
  transition: all 0.4s linear;
}

nav a:hover:before{
  width: 100%;
  
}
.box{
  width: 45%;
  height: 70vh;
  background-color: #c3f5ff;
  padding-left: 10%;
  /*border: 1px solid black;*/
}
.text{
  white-space: nowrap;
  padding-top: 40%;
  text-transform: uppercase;
  color: #000;
  
  
}
.image img{
  width: 140%;
  height: 150%;
  overflow: hidden;
  margin-left: 80%;
  border-radius: 40% 80% 80% 40% / 40% 40% 80% 80% ;
  background-image: linear-gradient(to top,#ff00ff 20%,#bf00ff 60%);
  margin-top: 20%;
}
.text h3{
  position: relative;
  margin-bottom: 5%;
}
.text h3:after{
  content: "";
  width:125%;
  height: 2px;
  position: absolute;
  top: 55%;
  left: 55%;
  background-color: #000;
}
.text h1{
  margin-top: 3%;
  margin-bottom: 5%;
  font-size: 35px;
}
.text h2{
  font-size: 20px;
  word-spacing: 3px;
  margin-bottom:10%;
  font-weight: lighter;
}
.box .btn,.btn1{
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  padding: 12px 25px;
  font-weight: lighter;
  text-transform: uppercase;
  border-radius: 5px;
  display: inline-block;
}


.box .btn{
  color: #fff;
  background-image: linear-gradient(to right,#4458dc 0% ,#854fee 100%),radial-gradient(circle at top left,#4458dc,#854fee);
  border:double 2px transparent;
  outline: none;
  box-shadow: 0 10px 30px rgba(118, 85, 225, .3);
}
.box .btn1{ 
  margin-left: 10%;
  border: 2px solid #4458dc;
  color: #222;
  background-color: #fff;
  background-image: none;
  box-shadow: none;
  
}
.box .btn:hover{
  border: 2px solid #4458dc;
  color: #222;
  background-color: #fff;
  background-image: none;
  box-shadow: none;
}
.box .btn1:hover{
  color: #fff;
  background-image: linear-gradient(to right,#4458dc 0% ,#854fee 100%),radial-gradient(circle at top left,#4458dc,#854fee);
  border:double 2px transparent;
  outline: none;
  box-shadow: 0 10px 30px rgba(118, 85, 225, .3);
}